<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="color_theme" value="4"/>
		<add key="Data Source" value="EYEZUPLAPTOP\YOHANN"/>
		<add key="Initial Catalog" value="DB_POO"/>
		<add key="User ID" value="yohann"/>
		<add key="Password" value="reggis"/>
	</appSettings>
</configuration>
                                 