<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="color_theme" value="1"/>
		<add key="Data Source" value="WIN11_MATHEO\MATH_SQL"/>
		<add key="Initial Catalog" value="poo"/>
		<add key="User ID" value="math"/>
		<add key="Password" value="123mdp"/>
	</appSettings>
</configuration>         
