USE [master]
GO
/****** Object:  Database [DB_POO]    Script Date: 29/11/2022 11:22:50 ******/
CREATE DATABASE [DB_POO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_POO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQL_BEN\MSSQL\DATA\DB_POO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_POO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQL_BEN\MSSQL\DATA\DB_POO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_POO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_POO]
GO
/****** Object:  User [USR_POO]    Script Date: 29/11/2022 11:22:50 ******/
CREATE USER [USR_POO] FOR LOGIN [CNX_POO] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Adresse]    Script Date: 29/11/2022 11:22:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adresse](
	[ID_ad] [int] IDENTITY(1,1) NOT NULL,
	[Ville_ad] [varchar](50) NOT NULL,
	[Rue_ad] [varchar](100) NOT NULL,
	[CP_ad] [int] NOT NULL,
	[InfoSup_ad] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Avoir]    Script Date: 29/11/2022 11:22:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Avoir](
	[ID_cl] [int] NOT NULL,
	[ID_p] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_cl] ASC,
	[ID_p] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 29/11/2022 11:22:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ID_cl] [int] IDENTITY(1,1) NOT NULL,
	[ID_ps] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_cl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Commandes]    Script Date: 29/11/2022 11:22:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commandes](
	[ID_cmd] [int] IDENTITY(1,1) NOT NULL,
	[Ref_cmd] [varchar](100) NOT NULL,
	[Date_cmd] [date] NOT NULL,
	[DateLiv_cmd] [date] NULL,
	[ID_p] [int] NOT NULL,
	[ID_cl] [int] NOT NULL,
	[ID_ad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_cmd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comporte]    Script Date: 29/11/2022 11:22:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comporte](
	[ID_cmd] [int] NOT NULL,
	[ID_pr] [int] NOT NULL,
	[Qte] [decimal](15, 2) NULL,
	[TVA] [int] NULL,
	[prix_Un_HT] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_cmd] ASC,
	[ID_pr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paiement]    Script Date: 29/11/2022 11:22:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paiement](
	[ID_p] [int] IDENTITY(1,1) NOT NULL,
	[Moyen_p] [varchar](100) NOT NULL,
	[Date_p] [date] NOT NULL,
	[Montant_p] [float] NOT NULL,
	[ID_ad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_p] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personnel]    Script Date: 29/11/2022 11:22:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personnel](
	[ID_pl] [int] IDENTITY(1,1) NOT NULL,
	[DateEmbauche_pl] [date] NOT NULL,
	[Role_pl] [varchar](50) NOT NULL,
	[ID_pl_1] [int] NULL,
	[ID_ps] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_pl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personnes]    Script Date: 29/11/2022 11:22:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personnes](
	[ID_ps] [int] IDENTITY(1,1) NOT NULL,
	[Nom_ps] [varchar](50) NOT NULL,
	[Prenom_ps] [varchar](50) NULL,
	[DateNaissance_ps] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ps] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posseder]    Script Date: 29/11/2022 11:22:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posseder](
	[ID_ad] [int] NOT NULL,
	[ID_ps] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ad] ASC,
	[ID_ps] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produit]    Script Date: 29/11/2022 11:22:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produit](
	[ID_pr] [int] IDENTITY(1,1) NOT NULL,
	[Ref_pr] [varchar](50) NOT NULL,
	[Designation_pr] [varchar](100) NOT NULL,
	[Prix_HT_actuel_pr] [float] NOT NULL,
	[TVA_actuelle_pr] [decimal](15, 2) NOT NULL,
	[qte_pr] [decimal](15, 2) NULL,
	[SRea_pr] [decimal](15, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_pr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Avoir]  WITH CHECK ADD FOREIGN KEY([ID_cl])
REFERENCES [dbo].[Clients] ([ID_cl])
GO
ALTER TABLE [dbo].[Avoir]  WITH CHECK ADD FOREIGN KEY([ID_p])
REFERENCES [dbo].[Paiement] ([ID_p])
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD FOREIGN KEY([ID_ps])
REFERENCES [dbo].[Personnes] ([ID_ps])
GO
ALTER TABLE [dbo].[Commandes]  WITH CHECK ADD FOREIGN KEY([ID_ad])
REFERENCES [dbo].[Adresse] ([ID_ad])
GO
ALTER TABLE [dbo].[Commandes]  WITH CHECK ADD FOREIGN KEY([ID_cl])
REFERENCES [dbo].[Clients] ([ID_cl])
GO
ALTER TABLE [dbo].[Commandes]  WITH CHECK ADD FOREIGN KEY([ID_p])
REFERENCES [dbo].[Paiement] ([ID_p])
GO
ALTER TABLE [dbo].[Comporte]  WITH CHECK ADD FOREIGN KEY([ID_cmd])
REFERENCES [dbo].[Commandes] ([ID_cmd])
GO
ALTER TABLE [dbo].[Comporte]  WITH CHECK ADD FOREIGN KEY([ID_pr])
REFERENCES [dbo].[Produit] ([ID_pr])
GO
ALTER TABLE [dbo].[Paiement]  WITH CHECK ADD FOREIGN KEY([ID_ad])
REFERENCES [dbo].[Adresse] ([ID_ad])
GO
ALTER TABLE [dbo].[Personnel]  WITH CHECK ADD FOREIGN KEY([ID_pl_1])
REFERENCES [dbo].[Personnel] ([ID_pl])
GO
ALTER TABLE [dbo].[Personnel]  WITH CHECK ADD FOREIGN KEY([ID_ps])
REFERENCES [dbo].[Personnes] ([ID_ps])
GO
ALTER TABLE [dbo].[Posseder]  WITH CHECK ADD FOREIGN KEY([ID_ad])
REFERENCES [dbo].[Adresse] ([ID_ad])
GO
ALTER TABLE [dbo].[Posseder]  WITH CHECK ADD FOREIGN KEY([ID_ps])
REFERENCES [dbo].[Personnes] ([ID_ps])
GO
USE [master]
GO
